body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 2cm;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    text-align: center;
}
